
:root{
    --page-bg: #6C63FF;
    --page-bg2: black ; /*cor do inicio da pagina, primeira do gradiente fixo*/
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: white;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --button-padding-y:1rem;
    --button-padding-x:2.25rem;
    --btn-color: #50C9CE;
    --section-distance: 25rem;
    --section-distance-gap: 3.75rem;
    --badge-color: white;
    --second-color:#50C9CE;
  }



  body{

    background-color: var(--page-bg2);
  }


  .article-container{
    height: calc(100vh - 80px);
    width: 100%;


  }
  
  .article-content{
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
    gap: 50px;
    padding: 0px 50px;
    
   
  }


  .article-content img{
    box-shadow: 0 8px 20px rgba(145, 38, 216, 0.1);

    max-width: auto;
    border-radius: 10px;
    max-height: 80vh;
    height: auto;
    
  }


  .articles-text{
    display: flex;
    flex-direction: column;
    justify-content:  initial;
    gap: 20px;
    color: var(--text-color);
    text-align: justify;
    align-items: center;
  }


  .texts {

    display: flex;
    flex-direction: column;
    justify-content:  initial;
    gap: 20px;
           
  }



@media (max-width: 1300px) {

  .article-content{
    display: flex;
    flex-direction: column;
    justify-content:  space-evenly;
    gap: 50px;
    padding: 50px;
    
   
  }

  .text h1{
    text-align: center;
  }
}