:root{
  --page-bg: #6C63FF;
  --page-bg2: black ; /*cor do inicio da pagina, primeira do gradiente fixo*/
  --grid-gap: 0.75rem;
  --grid-margin: 1.5rem;
  --text-color: white;
  --h1-size: 1.75rem;
  --h2-size: 1.5rem;
  --button-padding-y:1rem;
  --button-padding-x:2.25rem;
  --btn-color: #50C9CE;
  --section-distance: 25rem;
  --section-distance-gap: 3.75rem;
  --badge-color: white;
  --second-color:#50C9CE;
}
html,
body {
position: relative;
height: 100%;
margin: 0;
padding: 0;
}

body {
background: #000;
font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
font-size: 14px;
color: #fff;
}

header{
  z-index: 2;
}

.carrossel-section {
height: calc(100vh - 100px); /* header 70 + footer = 100px */
display: flex;
justify-content: center;
align-items: center;
position: relative; 
z-index: 1;
}



.swiper {
width: 100%;
max-width: 100vw;
height: 100%;
display: flex;
align-items: center;
}

.swiper-wrapper {
align-items: center;
}

.swiper-slide {
background-position: center;
background-size: cover;
width: 300px;
height: auto;
display: flex;
justify-content: center;
align-items: center;
}

.swiper-slide img {
display: block;
max-height: 90vh;
width: auto;
margin: auto;
}



@media (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 14px;
  }


  .swiper-slide img {
    display: block;
    height: 95vh;
    width: 100vw;
  
  }
}
