
:root{
    --page-bg: #6C63FF;
    --page-bg2: black ; /*cor do inicio da pagina, primeira do gradiente fixo*/
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: white;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --button-padding-y:1rem;
    --button-padding-x:2.25rem;
    --btn-color: #50C9CE;
    --section-distance: 25rem;
    --section-distance-gap: 3.75rem;
    --badge-color: white;
    --second-color:#50C9CE;
  }


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
    padding-bottom: 20px;
}

footer{
    z-index: 1;
}
.f-padding{
    background: #343434;
    padding-top: 50px;
}
.container{
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 33.3%;
}
h3{
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
}
.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
}
.footer-content ul{
    text-align: center;
}

p, h3{
    color: var(--text-color);
}

.list a{
    color: var(--text-color);
}



.list{
    padding: 0;
}
.list li{
    width: auto;
    text-align: center;
    list-style-type:none;
    padding: 7px;
    position: relative;
}
.list li::before{
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: var(--page-bg);
    transition-duration: .5s;
}
.list li:hover::before{
    width: 70px;
}
.social-icons{
    text-align: center;
    padding: 0;
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;
}
.social-icons i{
    color: white;
    font-size: 25px;
}

 .f-link:link, .f-link:visited, .f-link:active {
    color: var(--page-bg); 
}

.social-icons i:hover{
    color: var(--page-bg);
}
.bottom-bar{
    background: var(--page-bg);
    text-align: center;
    padding: 3px;

}
.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
}


@media (max-width: 760px) {

    footer{
        position: static;
    }
    
    .bottom-bar{

    }

    .bottom-bar p{
        font-size: 10px;

    }

    main{
        padding-bottom:16px;
    }
    
}
