
:root{
    --page-bg: #6C63FF;
    --page-bg2: black ; /*cor do inicio da pagina, primeira do gradiente fixo*/
    --grid-gap: 0.75rem;
    --grid-margin: 1.5rem;
    --text-color: white;
    --h1-size: 1.75rem;
    --h2-size: 1.5rem;
    --button-padding-y:1rem;
    --button-padding-x:2.25rem;
    --btn-color: #50C9CE;
    --section-distance: 25rem;
    --section-distance-gap: 3.75rem;
    --badge-color: white;
    --second-color:#50C9CE;
  }

.hero-container{

    background-image: url(../images/hero/double\ light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);

}



.hero-content{
    align-items: center;
    display: flex ;
    flex-direction: column;

}


.hero-container h1{
    padding: 66px   ;
    padding-bottom: 35px;
}

.h1-id{
    text-transform: lowercase;
    color: var(--page-bg);
    font-family: Inter;
    font-size: 83.768px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}


.h1-fy{
    text-transform: lowercase;
    color: var(--second-color);
    font-family: Inter;
    font-size: 83.768px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.n-marked{
    border-bottom: 2px solid var(--second-color);     

}

.impulse{
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 80px; /* 133.333% */
text-transform: uppercase;
padding: 62px;

}


.trafego{
color: var(--page-bg);
text-align: center;
font-family: Inter;
font-size: 120px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 120px */
text-transform: uppercase;

}


@media (max-width: 750px) {


    .logo{
        padding-top: 15px;
    }
    
    .hero-container h1{
        padding: 35px;
        padding-bottom: 0px;
    }
    
    
    .h1-id{
     font-size: 60px;
    
    }
    
    .h1-fy{
        font-size: 60px;
    }
    
    .impulse{
        font-size: 50px;
        padding: 40px;
    }
    
    .trafego{
        font-size: 65px;
    }
    
    }
    
@media (max-width: 750px) {


    .logo{
        padding-top: 15px;
    }
    
    .hero-container h1{
        padding: 35px;
        padding-bottom: 0px;
    }
    
    
    .h1-id{
     font-size: 60px;
    
    }
    
    .h1-fy{
        font-size: 60px;
    }
    
    .impulse{
        font-size: 50px;
        padding: 40px;
    }
    
    .trafego{
        font-size: 65px;
    }
    
    }
    
